<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

    <servlet>
        <servlet-name>OAuth2Servlet</servlet-name>
        <servlet-class>org.wso2.carbon.identity.application.authentication.endpoint.OAuth2Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OAuth2Servlet</servlet-name>
        <url-pattern>/oauth2_login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OAuth2Servlet</servlet-name>
        <url-pattern>/oauth2_error.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OAuth2Servlet</servlet-name>
        <url-pattern>/oauth2_consent.do</url-pattern>
    </servlet-mapping>
</web-app>
