#layout-base{
    width:970px;margin:-15px auto !important;
}
.menu-content{
    width:970px;margin:0 auto !important;
}
footer{
    width:990px;margin:20px auto 5px !important;
}
div#newDoc div.name-column{
    padding-right:20px;
}
div#newDoc div.ieFix{
    width:10px;
}
div#header  div.container-fluid{
    width:970px;margin:0 auto !important;
}
ul.breadcrumb {
    height:20px;
    margin-top: -50px;
    margin-left: -490px;
    left:50%;
}
.menu-back{
    margin-top: 0;
}
.logo-section{
    margin-top:-10px;
}
#left{
    margin-top: 40px;
}
#middle{
    margin-top: 40px;
}
#middle div.title-section{
    background: #ccc;
    padding:5px;
}
div.menu-back div.menu-content{
    margin-top: 7px !important;
}